@font-face {
    font-family: "Graphik";
    src: url("fonts/Graphik-Regular.woff") format('woff');
}

* {
  font-family: 'Graphik', sans-serif;
}

body {
  background-color: #121212;
  padding: 0;
  margin: 0;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  color: white;
  text-align: center;
  /*whatever width you want*/
}

.inner a {
  text-decoration: none;
  color: purple;
  font-weight: bold;
  margin: 10px;
  transition: 0.2s;
}

.inner a:hover {
  color: magenta;
}
@keyframes rainbow{
	100%,0%{
		color: rgb(255,0,0);
	}
	8%{
		color: rgb(255,127,0);
	}
	16%{
		color: rgb(255,255,0);
	}
	25%{
		color: rgb(127,255,0);
	}
	33%{
		color: rgb(0,255,0);
	}
	41%{
		color: rgb(0,255,127);
	}
	50%{
		color: rgb(0,255,255);
	}
	58%{
		color: rgb(0,127,255);
	}
	66%{
		color: rgb(0,0,255);
	}
	75%{
		color: rgb(127,0,255);
	}
	83%{
		color: rgb(255,0,255);
	}
	91%{
		color: rgb(255,0,127);
	}
}
* {
  animation: rainbow 0.1s linear;
  animation-iteration-count: infinite;
}
